{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Ultimate blog covers - Ways to Making Money Online, SEO, Web Designing, Web Development, Python, Cloud Computing and daily life tips and tricks." />
<meta name="keywords" content="ways to make money online, make money online, earn money online, seo, blogging, blogging tutorial, cloud computing, python programming, learn python, tips and tricks, daily life tips," />
<link rel="icon" href="{% static 'images/ph.png' %}">
<title>ProgrammingHunts - Stories About Technologies | Make Money Online | SEO | Programming | Cloud Computing</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
<link href="{% static 'css/theme.css' %}" rel="stylesheet">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
<!-- Begin tracking codes here, including ShareThis/Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167346733-1"></script>
<script>
	
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167346733-1');
</script>
<!-- End tracking codes here, including ShareThis/Analytics -->
<script data-ad-client="ca-pub-1539897705241630" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="layout-default">
{% include 'blog/header.html' %}
<div class="site-content">
	<!-- Home Jumbotron
    ================================================== -->
	<section class="intro">
	<div class="wrapintro">
		<h1>PROGRAMMING HUNTS<br />
		<span class="blue">stories about technologies</span></h1>
	</div>
	</section>
	<!-- Container
    ================================================== -->
	<div class="container">
		<div class="main-content">
			<!-- Featured
            ================================================== -->
			<section class="featured-posts">
			<div class="section-title">
				<h2><span>Most Recent Stories</span></h2>
			</div>
			<div class="row listfeaturedtag">
				<!-- begin post -->
				{% for recent in most_recent %}
					<div class="col-sm-6">
						<div class="card">
							<div class="row">
								<div class="col-md-5 wrapthumbnail">
									<a href="/tutorial/{{ recent.slug }}">
									<div class="thumbnail" style="background-image:url('/media/{{ recent.thumbnail }}');">
									</div>
									</a>
								</div>
								<div class="col-md-7">
									<div class="card-block">
										<h2 class="card-title"><a href="/tutorial/{{ recent.slug }}">{{ recent.title }}</a></h2>
										<h4 class="card-text">{{ recent.meta_desc }}</h4>
										<div class="metafooter">
	                                        <div class="wrapfooter">
												<span class="meta-footer-thumb">
												<span class="author-meta">
												<!-- <span class="post-name"><a target="_blank" href="#">Sal</a></span><br/> -->
													<span class="post-date"><a href="/tutorial/{{ recent.slug }}">READ MORE</a>
													</span>
												</span>
												<span class="post-read-more"><a href="/tutorial/{{ recent.slug }}" title="Read Story"><i class="fa fa-eye" aria-hidden="true"></i></a></span>
												<div class="clearfix">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<!-- end post -->
			</div>
			</section>
			<!-- Posts Index
        ================================================== -->
			<section class="recent-posts row">
				<div class="pre-loader">
				</div>
			{% include 'blog/sidebar.html' %}
			<div class="col-sm-8">
				<div class="section-title">
					<h2><span>Recently Updated</span></h2>
				</div>
				<div class="masonrygrid row listrecent">
					<!-- begin post -->
					{% for post in posts %}
					<div class="col-md-6 grid-item">
						<div class="card">
							<a href="/tutorial/{{ post.slug }}">
							<img class="img-fluid" src="{{ base_url }}/media/{{ post.thumbnail }}" alt="{{ post.title }}">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/tutorial/{{ post.slug }}">{{ post.title }}</a></h2>
								<h4 class="card-text">	{{ post.meta_desc }}</h4>
								<div class="metafooter">
									<div class="wrapfooter">
										<!-- <span class="meta-footer-thumb">
										<i class="fa fa-clock-o" aria-hidden="true"></i>
										</span> -->
										<!-- <span class="post-clock"><a href="/tutorial/{{ post.slug }}" title="Read Story"><i class="fa fa-eye" aria-hidden="true"></i></a></span> -->

										<span class="author-meta">
										<!-- <span class="post-name"><a target="_blank" href="#">Sal</a></span><br/> -->
											<span class="post-date">Last Updated <strong>{{ post.updated|date:"M d, Y" }}</strong>
											</span>
										</span>
										<span class="post-read-more"><a href="/tutorial/{{ post.slug }}" title="Read Story"><i class="fa fa-eye" aria-hidden="true"></i></a></span>
										<div class="clearfix">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- end post -->
				</div>
				<!-- Pagination -->
				<div class="bottompagination">
					<div class="navigation">
                        <nav class="pagination">
                            <span class="page-number"> &nbsp; &nbsp; Page 1 of 1 &nbsp; &nbsp; </span>
                        </nav>
					</div>
				</div>
			</div>
			</section>
		</div>
	</div>
	<!-- /.container -->
	<!-- Before Footer
    ================================================== -->
		{% include 'blog/beforefooter.html' %}
	<!-- Begin Footer
    ================================================== -->
	<footer class="footer">
		{% include 'blog/footer.html' %}
	</footer>
	<!-- End Footer
    ================================================== -->
</div>


<!-- JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
//paste this code under the head tag or in a separate js file.
	// Wait for window load
	$(window).load(function() {
		// Animate loader off screen
		$(".pre-loader").fadeOut("slow");;
	});
</script>
{% if messages %}
      {% for msg in messages %}
        <script type="text/javascript">
            $( document ).ready(function() {
              $(function() {
                const Toast = Swal.mixin({
                  toast: true,
                  position: 'center',
                  showConfirmButton: true,
                  // timer: 5000,
                });

                  Toast.fire({
                    type: '{{ msg.tags }}',
                    title: ' {{ msg }}'
                });

              });
            });

        </script>
     {% endfor %}
{% endif %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>