{% load static %}
	<div class="beforefooter">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3><a href="https://bit.ly/2X8wiwg" style="color: blue!important">Buy Web Hosting @$3.95 with Free Domain for 1 Year.</a></h3>
					<p style="font-size: 14px;">
						 Bluehost <span>is Best Choice</span> to Go Live.
					</p>
					<a class="btn btn-primary btn-lg" href="https://bit.ly/2X8wiwg">SignUp Now!</a>
				</div>
				<div class="col-md-4 text-right footersocial">
					<a href="https://bit.ly/2X8wiwg"><img src="{% static 'images/bluehost.jpg' %}" /></a>
				</div>
			</div>
		</div>
	</div>