{% extends 'blog/single-base.html' %}
{% load static %}
{% block content %}
	<!-- Post -->
	<div class="col-sm-8 scroll-till">
		<div class="mainheading">
			<!-- Post Categories -->
			<div class="after-post-tags">
				<ul class="tags">
					{% for tag in tags %}
					<li>
					<a href="#">{{ tag.tag.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<!-- End Categories -->
			<!-- Post Title -->
		<h1 class="posttitle">{{ post.title }}</h1>
		</div>
		<!-- Post Featured Image -->
<!-- 		<img class="featured-image img-fluid" src="{% static 'images/3.jpg' %}" alt="">
 -->        <a href="https://bit.ly/2X8wiwg" target="_blank">
            <img border="0" src="https://bluehost-cdn.com/media/partner/images/proavinashthakur/620x203/620x203BW.png">
        </a>
                    
		<!-- End Featured Image -->
		<!-- Post Content -->
		<div class="article-post">
			{{ post.post | safe }}
			<div class="clearfix">
			</div>
		</div>
		<!-- Post Date -->
		<p>
			<small>Last Updated: 
			<span class="post-date"><time class="post-date" datetime="{{ post.updated |date:'d-m-Y'}}">{{ post.updated |date:'d-m-Y'}}</time></span>
			</small>
		</p>
		<!-- Prev/Next -->
		<div class="row PageNavigation mt-4 prevnextlinks">
			<div class="col-md-6 rightborder pl-0">
				{% if prev %}
				<a class="thepostlink" href="/tutorial/{{ prev.slug }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ prev.title }}</a>
				{% endif %}
			</div>
			<div class="col-md-6 text-right pr-0">
				{% if nxt %}
					<a class="thepostlink" href="/tutorial/{{ nxt.slug }}">{{ nxt.title }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
				{% endif %}			
			</div>
		</div>
      	</div>
	<!-- End Post -->
{% endblock %}