{% load static %}
<div class="col-sm-4">
	<div class="sidebar" style="position: -webkit-sticky; position: sticky; top: 0;">
		<div class="sidebar-section">
			<div class="sidebar-section">
			<h5><span>Recommended</span></h5>
            <a href="https://bit.ly/2X8wiwg" target="_blank">
                <img border="0" src="https://bluehost-cdn.com/media/partner/images/proavinashthakur/300x250/300x250BW.png">
            </a>
                    
		</div>
		</div>
		<div class="sidebar-section">
			<h5><span>Useful</span></h5>
			<ul style="list-none;">
				{% for category in categories %}
					<li><a href="{{ base_url }}/category/{{ category.slug }}">{{ category.title }}</a></li>
				{% endfor %}
				{% if not categories %}
				<h6 align="center">No featured categories</h6>
				{% endif %}
			</ul>
		</div>
		
	</div>
</div>